<div class="panel-confirm">
	<div class="panel-heading">
		<h4 class="panel-title" style="font-size: 1.3em;">Confirm</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12 text-center">
				<br/>
				<h3>{{cc.tempData.message}}</h3>
				<br/><br/>
				<button class="usa-button usa-button-primary" data-ng-click="cc.ok()">Yes</button>
				<button class="usa-button usa-button-outline" data-ng-click="cc.cancel()">No</button>
			</div>
		</div>
	</div>
</div>
