<div class="panel panel-info" style="margin-bottom: 0">
	<div class="panel-heading">
		<h4 class="panel-title">Please Confirm</h4>
	</div>
	<div class="panel-body">
		<div class="alert alert-warning">
			<div class="row">
				<div class="col-md-12">{{cc.tempData.message}}</div>
			</div>
		</div>
		<span class="pull-right">
			<button class='btn btn-primary rounded' data-ng-click="cc.ok()">Yes</button>
			<button class='btn btn-default rounded' data-ng-click="cc.cancel()">No</button>
		</span>
	</div>
</div>
