<!-- CATEGORY : GENERAL INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span>&nbsp; General Info</span>
        </h4>
    </div>

    <div id="{{dataCenter.dataCenterId}}GeneralInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoAgencyAbbreviation">Agency Abbreviation <span class="vnt-red-text">*</span></label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoAgencyAbbreviation" 
                            		data-ng-model="dataCenter.generalInfo.agencyAbbreviation">
                            <div class="text-danger">{{qc.tempData.errorData.messages['agencyAbbreviationRequired']}}</div>
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoAgencyAbbreviation"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.agencyAbbreviation || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoComponent">Component <span class="vnt-red-text">*</span></label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoComponent" 
                            		data-ng-model="dataCenter.generalInfo.component">
                            <div class="text-danger">{{qc.tempData.errorData.messages['componentRequired']}}</div>
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoComponent"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.component || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoDataCenterName">Data Center Name <span class="vnt-red-text">*</span></label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoDataCenterName" 
                            		data-ng-model="dataCenter.generalInfo.dataCenterName">
                            <div class="text-danger">{{qc.tempData.errorData.messages['dataCenterNameRequired']}}</div>
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoDataCenterName"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.dataCenterName || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoDataCenterID">Data Center ID</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoDataCenterID" 
                            		data-ng-model="dataCenter.generalInfo.dataCenterID" placeholder="DCOI-DC-#####">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoDataCenterID"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.dataCenterID || "NONE"}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoAgencyDataCenterID">Agency Data Center ID</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoAgencyDataCenterID" 
                            		data-ng-model="dataCenter.generalInfo.agencyDataCenterID">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoAgencyDataCenterID"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.agencyDataCenterID || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoPublishedName">Published Name</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoPublishedName" 
                            		data-ng-model="dataCenter.generalInfo.publishedName">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoPublishedName"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.publishedName || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress">Street Address</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress" 
                            		data-ng-model="dataCenter.generalInfo.streetAddress">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.streetAddress || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress2">Street Address 2</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress2" 
                            		data-ng-model="dataCenter.generalInfo.streetAddress2">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoStreetAddress2"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.streetAddress2 || "NONE"}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoCity">City</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoCity" 
                            		data-ng-model="dataCenter.generalInfo.city">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoCity"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.city || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoState">State</label>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoState"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.state || "NONE"}}</span>
                        <select id="{{dataCenter.dataCenterId}}GeneralInfoState" data-ng-model="dataCenter.generalInfo.state"
                        		 data-ng-if="qc.tempData.editMode">
                            <option value="">Select One</option>
                            <option value="AL">AL</option>
							<option value="AK">AK</option>
							<option value="AZ">AZ</option>
							<option value="AR">AR</option>
							<option value="CA">CA</option>
							<option value="CO">CO</option>
							<option value="CT">CT</option>
							<option value="DE">DE</option>
							<option value="DC">DC</option>
							<option value="FL">FL</option>
							<option value="GA">GA</option>
							<option value="HI">HI</option>
							<option value="ID">ID</option>
							<option value="IL">IL</option>
							<option value="IN">IN</option>
							<option value="IA">IA</option>
							<option value="KS">KS</option>
							<option value="KY">KY</option>
							<option value="LA">LA</option>
							<option value="ME">ME</option>
							<option value="MD">MD</option>
							<option value="MA">MA</option>
							<option value="MI">MI</option>
							<option value="MN">MN</option>
							<option value="MS">MS</option>
							<option value="MO">MO</option>
							<option value="MT">MT</option>
							<option value="NE">NE</option>
							<option value="NV">NV</option>
							<option value="NH">NH</option>
							<option value="NJ">NJ</option>
							<option value="NM">NM</option>
							<option value="NY">NY</option>
							<option value="NC">NC</option>
							<option value="ND">ND</option>
							<option value="OH">OH</option>
							<option value="OK">OK</option>
							<option value="OR">OR</option>
							<option value="PA">PA</option>
							<option value="RI">RI</option>
							<option value="SC">SC</option>
							<option value="SD">SD</option>
							<option value="TN">TN</option>
							<option value="TX">TX</option>
							<option value="UT">UT</option>
							<option value="VT">VT</option>
							<option value="VA">VA</option>
							<option value="WA">WA</option>
							<option value="WV">WV</option>
							<option value="WI">WI</option>
							<option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoZipCode">Zip Code</label>
                        <div class="input-group" data-ng-if="qc.tempData.editMode">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}GeneralInfoZipCode" 
                            		data-ng-model="dataCenter.generalInfo.zipCode">
                        </div>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoZipCode"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.zipCode || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}GeneralInfoCountry">Country</label>
                        <span id="{{dataCenter.dataCenterId}}GeneralInfoCountry"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.generalInfo.country || "NONE"}}</span>
                        <select id="{{dataCenter.dataCenterId}}GeneralInfoCountry" 
                        		data-ng-model="dataCenter.generalInfo.country" data-ng-if="qc.tempData.editMode">
                            <option value="">Select One</option>
                            <option>U.S.</option>
                            <option>Outside U.S.</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->