<!-- CATEGORY : GENERAL INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.id].components[$index].generalInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.id].components[$index].generalInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.id].components[$index].generalInfo"></span>
            <span class="glyphicon glyphicon-plus" data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.id].components[$index].generalInfo"></span>
            <span>&nbsp; General Info</span>
        </h4>
    </div>

    <div id="{{component.name}}GeneralInfo" class="panel-collapse panel-cat-collapse collapse in" data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.id].components[$index].generalInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoAgencyAbbreviation">Agency Abbreviation <span class="vnt-red-text">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoAgencyAbbreviation" data-ng-model="component.generalInfo.agencyAbbreviation">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoComponent">Component <span class="vnt-red-text">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoComponent" data-ng-model="component.generalInfo.component">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoDataCenterName">Data Center Name <span class="vnt-red-text">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoDataCenterName" data-ng-model="component.generalInfo.dataCenterName">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoDataCenterID">Data Center ID</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoDataCenterID" data-ng-model="component.generalInfo.dataCenterID" placeholder="DCOI-DC-#####">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoAgencyDataCenterID">Agency Data Center ID</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoAgencyDataCenterID" data-ng-model="component.generalInfo.agencyDataCenterID">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoPublishedName">Published Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoPublishedName" data-ng-model="component.generalInfo.publishedName">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoStreetAddress">Street Address</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoStreetAddress" data-ng-model="component.generalInfo.streetAddress">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoStreetAddress2">Street Address 2</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoStreetAddress2" data-ng-model="component.generalInfo.streetAddress2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoCity">City</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoCity" data-ng-model="component.generalInfo.city">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoState">State</label>
                        <select id="{{component.name}}GeneralInfoState" data-ng-model="component.generalInfo.state">
                            <option value="">Select One</option>
                            <option>AL</option>
                            <option>AK</option>
                            <option>AZ</option>
                            <option>AR</option>
                            <option>CA</option>
                            <option>CO</option>
                            <option>Etc.</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoZipCode">Zip Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{component.name}}GeneralInfoZipCode" data-ng-model="component.generalInfo.zipCode">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="{{component.name}}GeneralInfoCountry">Country</label>
                        <select id="{{component.name}}GeneralInfoCountry" data-ng-model="component.generalInfo.country">
                            <option value="">Select One</option>
                            <option>U.S.</option>
                            <option>Outside U.S.</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->