<!-- CATEGORY : STATUS -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status"></span>
            <span>&nbsp; Status</span>
        </h4>
    </div>

    <div id="{{dataCenter.dataCenterId}}Status" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusRecordStatus">Record Status <span class="vnt-red-text">*</span></label>
                        <span id="{{dataCenter.dataCenterId}}StatusRecordStatus"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.recordStatusName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusRecordStatus" 
                        		data-ng-model="dataCenter.status.recordStatusId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.recordStatusRefValueList">
                            <option value="">Select One</option>
                        </select>
                        <div data-ng-if="qc.tempData.editMode" class="text-danger">{{qc.tempData.errorData.messages['recordStatusId']}}</div>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusRecordValidity">Record Validity <span class="vnt-red-text">*</span></label>
                        <span id="{{dataCenter.dataCenterId}}StatusRecordValidity"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.recordValidityName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusRecordValidity" 
                        		data-ng-model="dataCenter.status.recordValidityId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.recordValidityRefValueList">
                            <option value="">Select One</option>
                        </select>
                        <div data-ng-if="qc.tempData.editMode" class="text-danger">{{qc.tempData.errorData.messages['recordValidityId']}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusClosingStage">Closing Stage <span class="vnt-red-text">*</span></label>
                        <span id="{{dataCenter.dataCenterId}}StatusClosingStage"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.closingStageName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusClosingStage" 
                        		data-ng-model="dataCenter.status.closingStageId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.closingStageRefValueList">
                            <option value="">Select One</option>
                        </select>
                        <div data-ng-if="qc.tempData.editMode" class="text-danger">{{qc.tempData.errorData.messages['closingStageId']}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusOwnershipType">Ownership Type</label>
                        <span id="{{dataCenter.dataCenterId}}StatusOwnershipType"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.ownershipTypeName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusOwnershipType" 
                        		data-ng-model="dataCenter.status.ownershipTypeId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.ownershipTypeRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusDataCenterTier">Data Center Tier</label>
                        <span id="{{dataCenter.dataCenterId}}StatusDataCenterTier"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.dataCenterTierName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusDataCenterTier" 
                        		data-ng-model="dataCenter.status.dataCenterTierId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.dataCenterTierRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusElectricityIsMetered">Electricity is Metered</label>
                        <span id="{{dataCenter.dataCenterId}}StatusElectricityIsMetered"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.electricityIsMeteredName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusElectricityIsMetered" 
                        		data-ng-model="dataCenter.status.electricityIsMeteredId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.yesNoRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusAutomatedMonitoring">Automated Monitoring</label>
                        <span id="{{dataCenter.dataCenterId}}StatusAutomatedMonitoring"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.automatedMonitoringName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusAutomatedMonitoring" 
                        		data-ng-model="dataCenter.status.automatedMonitoringId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.yesNoRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusIssPosition">ISS Position</label>
                        <span id="{{dataCenter.dataCenterId}}StatusIssPosition"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.issPositionName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusIssPosition" 
                        		data-ng-model="dataCenter.status.issPositionId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.issPositionRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusISSProvider">ISS Provider</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{dataCenter.dataCenterId}}StatusISSProvider" 
                            		data-ng-model="dataCenter.status.issProvider" data-ng-if="qc.tempData.editMode">
	                        <span id="{{dataCenter.dataCenterId}}StatusISSProvider"
	                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.issProvider || "None"}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusClosingFiscalYear">Closing Fiscal Year</label>
                        <span id="{{dataCenter.dataCenterId}}StatusClosingFiscalYear"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.closingFiscalYearName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusClosingFiscalYear" 
                        		data-ng-model="dataCenter.status.closingFiscalYearId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.fiscalYearsRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusClosingQuarter">Closing Quarter</label>
                        <span id="{{dataCenter.dataCenterId}}StatusClosingQuarter"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.closingQuarterName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusClosingQuarterId" 
                        		data-ng-model="dataCenter.status.closingQuarter" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.fiscalQuartersRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusElectricityIncludedInCost">Electricity Included in Cost</label>
                        <span id="{{dataCenter.dataCenterId}}StatusElectricityIncludedInCost"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.electricityIncludedInCostName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusElectricityIncludedInCost" 
                        		data-ng-model="dataCenter.status.electricityIncludedInCostId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.yesNoRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="{{dataCenter.dataCenterId}}StatusCoreClassification">Core Classification</label>
                        <span id="{{dataCenter.dataCenterId}}StatusCoreClassification"
                        		data-ng-if="!qc.tempData.editMode">{{dataCenter.status.coreClassificationName || "None"}}</span>
                        <select id="{{dataCenter.dataCenterId}}StatusCoreClassification" 
                        		data-ng-model="dataCenter.status.coreClassificationId" data-ng-if="qc.tempData.editMode"
                        		data-ng-options="o.id as o.value for o in qc.referenceValueLists.coreClassificationRefValueList">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->