<!-- CATEGORY : SERVER INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span>&nbsp; Server Info</span>
        </h4>
    </div>

    <div id="totalsServerInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoServerUtilization">Server Utilization</label>
                        <span id="totalsServerInfoServerUtilization">{{datacenter.totals.serverInfo.serverUtilization || "NONE"}}
                        		<small data-ng-show="datacenter.totals.serverInfo.serverUtilization">%</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalMainframes">Total Mainframes</label>
                        <span id="totalsServerInfoTotalMainframes">{{datacenter.totals.serverInfo.totalMainframes || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalWindowsServers">Total Windows Servers</label>
                        <span id="totalsServerInfoTotalWindowsServers">{{datacenter.totals.serverInfo.totalWindowsServers || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalHPCClusterNotes">Total HPC Cluster Nodes</label>
                        <span id="totalsServerInfoTotalHPCClusterNodes">{{datacenter.totals.serverInfo.totalHPCClusterNodes || "NONE"}}</span>
                    </div>
                </div>

            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalOtherServers">Total Other Servers</label>
                        <span id="totalsServerInfoTotalOtherServers">{{datacenter.totals.serverInfo.totalOtherServers || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalVirtualHosts">Total Virtual Hosts</label>
                        <span id="totalsServerInfoTotalVirtualHosts">{{datacenter.totals.serverInfo.totalVirtualHosts || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalVirtualOS">Total Virtual OS</label>
                        <span id="totalsServerInfoTotalVirtualOS">{{datacenter.totals.serverInfo.totalVirtualOS || "NONE"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoTotalStorage">Total Storage</label>
                        <span id="totalsServerInfoTotalStorage">{{datacenter.totals.serverInfo.totalStorage || "NONE"}}</span>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsServerInfoUsedStorage">Used Storage</label>
                        <span id="totalsServerInfoUsedStorage">{{datacenter.totals.serverInfo.usedStorage || "NONE"}}</span>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->
