<!-- CATEGORY : FACILITY INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.facilityInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.facilityInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.facilityInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.facilityInfo"></span>
            <span>&nbsp; Facility Info</span>
        </h4>
    </div>

    <div id="totalsFacilityInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.facilityInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoGrossFloorArea">Gross Floor Area</label>
                        <span id="totalsFacilityInfoGrossFloorArea">{{dataCenter.totals.facilityInfo.grossFloorArea || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.grossFloorArea">Sq. Ft.</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoTotalCustomerFloorArea">Total Customer Floor Area</label>
                        <span id="totalsFacilityInfoTotalCustomerFloorArea">{{dataCenter.totals.facilityInfo.totalCustomerFloorArea || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.totalCustomerFloorArea">Sq. Ft.</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoAnnualCostPerSqFt">Annual Cost per Sq. Ft.</label>
                        <span id="totalsFacilityInfoAnnualCostPerSqFt">{{(dataCenter.totals.facilityInfo.annualCostPerSqFt | currency) || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoOtherAgenciesServiced">Other Agencies Serviced</label>
                        <span id="totalsFacilityInfoOtherAgenciesServiced">{{dataCenter.totals.facilityInfo.otherAgenciesServiced || "None"}}</span>
                    </div>
                </div>

            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoAvgElectricityUsage">Avg. Electricity Usage</label>
                        <span id="totalsFacilityInfoAvgElectricityUsage">{{dataCenter.totals.facilityInfo.avgElectricityUsage || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.avgElectricityUsage">kWh</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoAvgITElectricityUsage">Avg. IT Electricity Usage</label>
                        <span id="totalsFacilityInfoAvgITElectricityUsage">{{dataCenter.totals.facilityInfo.avgITElectricityUsage || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.avgITElectricityUsage">kWh</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoTotalPowerCapacity">Total Power Capacity</label>
                        <span id="totalsFacilityInfoTotalPowerCapacity">{{dataCenter.totals.facilityInfo.totalPowerCapacity || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.totalPowerCapacity">kW</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoTotalITPowerCapacity">Total IT Power Capacity</label>
                        <span id="totalsFacilityInfoTotalITPowerCapacity">{{dataCenter.totals.facilityInfo.totalITPowerCapacity || "None"}}
                        		<small data-ng-show="dataCenter.totals.facilityInfo.totalITPowerCapacity">kW</small></span>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoFTE">FTE</label>
                        <span id="totalsFacilityInfoFTE">{{dataCenter.totals.facilityInfo.fte || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoFTECost">FTE Cost</label>
                        <span id="totalsFacilityInfoFTECost">{{(dataCenter.totals.facilityInfo.fteCost | currency) || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoRackCount">Rack Count</label>
                        <span id="totalsFacilityInfoRackCount">{{dataCenter.totals.facilityInfo.rackCount || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsFacilityInfoCostPerkWh">Cost per kWh</label>
                        <span id="totalsFacilityInfoCostPerkWh">{{(dataCenter.totals.facilityInfo.costPerkWh | currency) || "None"}}</span>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->