<!-- MAIN CONTAINER -->
<div class="container-fluid"  style="padding-top:40px;">
	<table data-datatable="ng" class="row-border hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Roles</th>
				<th>Components</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in asc.allUsers">
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.emailAddress}}</td>
				<td>
					<span data-ng-repeat="role in user.roles">{{role.roleName}},&nbsp;</span>
				</td>
				<td>{{user.userFieldOffices}}</td>
				<td><a href="javascript:;" data-ng-click="asc.editUser(user)">Edit</a>
			</tr>
		</tbody>
	</table>
	<br/><br/>
	
</div>
<!--
<div>
	<ui-select multiple ng-model="admin.allUsers.firstName" style="width: 500px;">
	    <ui-select-match>
	        <span data-ng-bind="$select.selected.user.firstName"></span>
	    </ui-select-match>
	    <ui-select-choices repeat="user in (admin.allUsers | filter: $select.search) track by user.firstName">
	        <span data-ng-bind="user.firstName"></span>
	    </ui-select-choices>
	</ui-select>
	<br/><br/>
</div>
-->
<!-- /.container-fluid -->

