<div class="modal-header">
    <button type="button" class="close pull-right" data-ng-click="andcc.cancel()">&times;</button>
    <span class="pull-left"><h3 class="modal-title">New Data Center</h3></span>
</div><!-- /.modal-header -->

<div class="modal-body">
    <br />
    <h4>Enter the required information for the fields below to add a new Data Center.</h4>
    <br />
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-name">Data Center Name <span class="vnt-red-text">*</span></label>
                <input type="text" class="form-control" id="data-center-name" data-ng-model="andcc.dataCenter.dataCenterName">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="dcoi-data-center-id">Data Center ID</label>
                <input type="text" class="form-control" id="dcoi-data-center-id" 
                		data-ng-model="andcc.dataCenter.dcoiDataCenterId" placeholder="DCOI-DC-#####">
            </div>
        </div>
	</div><!-- /.row -->
	<div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-region">Region <span class="vnt-red-text">*</span></label>
                <select id="data-center-region" data-ng-model="andcc.dataCenter.regionId"
                		data-ng-options="o.id as o.value for o in andcc.regionRefValueList | filter:{'activeFlag':1}">
                    <option value="">Select One</option>
                </select>
            </div>
        </div>
	</div><!-- /.row -->
	<div class="row" data-ng-if="!andcc.selectedCloudRegion(andcc.dataCenter.regionId)">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-city">City</label>
                <input type="text" class="form-control" id="data-center-city" data-ng-model="andcc.dataCenter.city">
            </div>
		</div> 
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-state">State</label>
                <select id="data-center-state" data-ng-model="andcc.dataCenter.stateId"
                		data-ng-options="o.id as o.value for o in andcc.stateRefValueList | filter:{'activeFlag':1}">
                	<option value="">Select One</option>
                </select>
            </div>
        </div>
	</div><!-- /.row -->
	<hr/>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12"><strong>Active Field Offices</strong> <span class="vnt-red-text">*</span></div>
	</div><!-- /.row -->
	<div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" data-ng-repeat="fieldOffice in andcc.componentRefValueList | filter:{'activeFlag':1}">
            <div class="form-group" data-ng-if="fieldOffice.id !== andcc.ALL_FIELD_OFFICE_COMPONENT_ID">
				<input type="checkbox" id="fieldOffice{{fieldOffice.value}}"
						data-ng-false-value="null" 
						data-ng-true-value="{{fieldOffice.id}}" 
						data-ng-change="andcc.checkUncheckItem($index, fieldOffice.value)"
						data-ng-model="andcc.tempFieldOffices[$index]['componentId']">
                <label for="fieldOffice{{fieldOffice.value}}">{{fieldOffice.value}}</label>
            </div>
		</div> 
	</div><!-- /.row -->
</div><!-- /.modal-body -->

<div class="modal-footer">
    <button type="button" class="usa-button usa-button-primary" 
    		data-ng-disabled="!(andcc.dataCenter.dataCenterName.length && andcc.dataCenter.regionId !== null && andcc.removeNullValues(andcc.tempFieldOffices).length)" 
    		data-ng-click="andcc.add()">Add</button>
    <button type="button" class="usa-button usa-button-outline" data-ng-click="andcc.cancel()">Cancel</button>
</div><!-- /.modal-footer -->