<div class="modal-header">
    <button type="button" class="close pull-right" data-ng-click="dcc.cancel()">&times;</button>
    <span class="pull-left"><h3 class="modal-title">New Data Center</h3></span>
</div><!-- /.modal-header -->

<div class="modal-body">
    <br />
    <h4>Enter the required information for the fields below to add a new Data Center.</h4>
    <br />
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-name">Data Center Name <span class="vnt-red-text">*</span></label>
                <input type="text" class="form-control" id="data-center-name" data-ng-model="dcc.dataCenter.dataCenterName">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="dcoi-data-center-id">Data Center ID <span class="vnt-red-text">*</span></label>
                <input type="text" class="form-control" id="dcoi-data-center-id" 
                		data-ng-model="dcc.dataCenter.dcoiDataCenterId" placeholder="DCOI-DC-#####">
            </div>
        </div>
	</div><!-- /.row -->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-region">Region <span class="vnt-red-text">*</span></label>
                <select id="data-center-region" data-ng-model="dcc.dataCenter.regionId">
                    <option value="">Select One</option>
                    <option value="0">Cloud</option>
                    <option value="1">New England</option>
                    <option value="2">Northeast and Caribbean</option>
                    <option value="3">Mid-Atlantic</option>
                    <option value="4">Southeast Sunbelt</option>
                    <option value="5">Great Lakes</option>
                    <option value="6">Heartland</option>
                    <option value="7">Greater Southwest</option>
                    <option value="8">Rocky Mountain</option>
                    <option value="9">Pacific Rim</option>
                    <option value="10">Northwest/Arctic</option>
                    <option value="11">National Capital</option>
                </select>
            </div>
        </div>
	</div><!-- /.row -->
	
	<div class="row" data-ng-if="dcc.dataCenter.regionId !== '11'">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-city">City</label>
                <input type="text" class="form-control" id="data-center-city" data-ng-model="dcc.dataCenter.city">
            </div>
		</div> 
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="data-center-state">State</label>
                <select id="data-center-state" data-ng-model="dcc.dataCenter.state">
                	<option value="">Select One</option>
                    <option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
                </select>
            </div>
        </div>
	</div><!-- /.row -->

</div><!-- /.modal-body -->

<div class="modal-footer">
    <button type="button" class="usa-button usa-button-primary" 
    		data-ng-disabled="!(dcc.dataCenter.dataCenterName.length && dcc.dataCenter.dcoiDataCenterId.length && dcc.dataCenter.regionId !== null)" 
    		data-ng-click="dcc.add()">Add</button>
    <button type="button" class="usa-button usa-button-outline" data-ng-click="dcc.cancel()">Cancel</button>
</div><!-- /.modal-footer -->