<div data-ng-class="pastQuarterValue !== newQuarterModel ? 'form-group has-warning' : 'form-group'">
	<label for="{{fieldId}}">{{fieldName}}
		<span class="vnt-red-text" data-ng-if="fieldRequired === 'true'">*</span>
	</label>
	<select id="{{fieldId}}" data-ng-model="newQuarterModel"
			data-ng-options="o.id as o.value for o in refValueList | filter:{'activeFlag':1}">
		<option value="">Select One</option>
	</select>
	<div class="text-danger" data-ng-if="errorData">{{errorData.messages[errorMessagesProp]}}</div>
	<span class="warning-text" data-ng-if="pastQuarterValue !== newQuarterModel">
		<span>Past Value: {{pastQuarterValue || "None"}}</span>
	</span>
</div>