<div class="panel panel-info" data-ng-if="sc.showResults">
	<div class="panel-heading">
		<h4 class="panel-title">Query Data Results:
		<span data-ng-if="sc.searchResults.length">Displaying {{sc.pageInfoStartNumber()}} - {{sc.pageInfoEndNumber()}} of {{sc.searchCriteria.resultsTotalNum}} records</span></h4>
		<span data-ng-if="sc.searchResults.length">
			<uib-pagination id="paginationElem" class="pagination-sm pull-right" style="cursor:pointer"
					total-items="sc.searchCriteria.resultsTotalNum" items-per-page="sc.searchCriteria.resultsPerPage"
					data-ng-model="sc.searchCriteria.currentPageNum" max-size="10" boundary-links="true" data-ng-change="search()"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
			</uib-pagination>
		</span>
	</div>
	<div class="panel-body" data-ng-if="!sc.searchResults.length">
		No Records Found
	</div>
	<div data-ng-include="'app/search/searchresultstable.html'"></div>
</div>