<!-- PAGE HEADER -->
<div class="page-header">                  
    <span class="inline" style="padding-top: 2px;">
    	<span class="glyphicon glyphicon-search glyph-style" aria-hidden="true" style="font-size: .8em;"></span>
    	<span data-ng-if="sc.advancedSearchMode">&nbsp; Query Data</span>
    	<span data-ng-if="!sc.advancedSearchMode">&nbsp; Search Results:
    			<span data-ng-if="sc.searchResults.length">Displaying {{sc.pageInfoStartNumber}} - {{sc.pageInfoEndNumber}} of {{sc.searchResults.length}} records</span></h4>
				<span data-ng-if="sc.searchResults.length">
					<uib-pagination id="paginationElem" class="pagination-sm pull-right" style="cursor:pointer"
							total-items="sc.searchResults.length" items-per-page="sc.resultsPerPage"
							data-ng-model="sc.currentPageNum" max-size="10" boundary-links="true" data-ng-change="search()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
					</uib-pagination>
				</span>
    	</span>
    </span>
</div>

<!-- MAIN CONTAINER -->
<div class="container-fluid" style="padding-top: 140px;">
	<div style="width: 100%; overflow: auto;">
		<div data-ng-if="sc.advancedSearchMode" data-ng-include="'app/search/searchcriteriapanel.html'"></div>
		<div data-ng-if="sc.advancedSearchMode" data-ng-include="'app/search/searchresultspanel.html'"></div>
		<div data-ng-if="!sc.advancedSearchMode" data-ng-include="'app/search/searchresultstable.html'"></div>
	</div>
</div><!-- /.container-fluid -->