<!-- PAGE HEADER -->
<div class="page-header">                  
    <h3 class="inline"><span class="glyphicon glyphicon-align-justify" role="button" aria-hidden="true" href="#menu-toggle" id="menu-toggle" style="font-size: .8em;"></span> &nbsp; Create New Quarter - {{::qc.quarterData.fiscalQuarter}} {{::qc.quarterData.fiscalYear}}</h3>

    <div class="pull-right">
        <span class="inline"><input class="form-control" type="text" name="duedate" style="max-width: 150px;" data-ng-model="qc.quarterData.dueDate"></span>
        <span class="inline"><button class="usa-button usa-button-primary" type="button" style="display: inline;" data-ng-click="qc.createQuarter()">Create</button></span>
    </div>
</div>

<!-- OUTER WRAPPER -->
<div id="wrapper">

    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="usa-button usa-button-primary" type="button" data-ng-click="qc.addNewDataCenter()" data-toggle="modal" data-target="#newdatacenter">New Data Center</button>
                    </div>
                </div>
                <div class="panel panel-default" data-ng-repeat="region in qc.quarterData.regions">
                    <div class="panel-heading" data-ng-click="region.expanded=!region.expanded">
                        <h4 class="panel-title">
                            {{region.name}}
                        </h4>
                    </div>
                    <div id="region{{$index}}" class="panel-collapse collapse in" data-ng-if="region.expanded" data-ng-click=" qc.tempData.displayedRegionIdx = $index">
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="dataCenter in region.dataCenters">
                            	<a href="" data-ng-click="dataCenter.expanded=!dataCenter.expanded">{{dataCenter.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- /.panel-group -->
        </ul>
    </div><!-- /#sidebar-wrapper -->

    <!-- MAIN CONTAINER -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
                            
            <div class="panel-group" id="accordion">

                <!-- DATA CENTER PANEL-->
                <!-- Data Center Header -->
                <div class="panel panel-default panel-dc" data-ng-repeat="dataCenter in qc.quarterData.regions[qc.tempData.displayedRegionIdx].dataCenters" id="datacenter{{$index}}">
                    <div class="panel-heading accordion-toggle" data-parent="#accordion" data-toggle="collapse" data-ng-click="dataCenter.expanded=!dataCenter.expanded">
                        <h4 class="panel-title">
                            {{dataCenter.name}}

                            <span class="pull-right vnt-normal-text-weight">{{dataCenter.city}}, {{dataCenter.state}} in {{qc.quarterData.regions[qc.tempData.displayedRegionIdx].name}}</span>
                        </h4>
                    </div>


                    <!-- Data Center Body -->
                    <div id="dc1-body" class="panel-collapse collapse in" data-ng-if="dataCenter.expanded">
                        <div class="panel-body">

                            <div class="form-group pull-right component-checkboxes">
                                <label class="inline">Assign Components: &nbsp;</label>
                                <span class="inline"><input type="checkbox" class="form-control" id="datacenter{{$index}}pbs" data-ng-model="dataCenter.isPbs">
                                	<label for="datacenter{{$index}}pbs">PBS</label>
                                </span>
                                <span class="inline"><input type="checkbox" class="form-control" id="datacenter{{$index}}fas" data-ng-model="dataCenter.isFas">
                                	<label for="datacenter{{$index}}fas">FAS</label>
                                </span>
                                <span class="inline"><input type="checkbox" class="form-control" id="datacenter{{$index}}ocio" data-ng-model="dataCenter.isOcio">
                                	<label for="datacenter{{$index}}ocio">OCIO</label>
                                </span>
							</div>
							
							<!-- Tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="">PBS</a></li>
                                <li><a data-toggle="tab" href="">FAS</a></li>
                            </ul>

                            <div class="tab-content">
                            
								<div id="pbs-tab" class="tab-pane fade in active">
	                                    
		                            <div class="panel-group">
		
		                                <!-- Category 1 Panel -->
		                                <div class="panel panel-default panel-category" data-ng-repeat="category in dataCenter.categories">
		                                    <div class="panel-heading" data-toggle="collapse" data-ng-click="category.expanded=!category.expanded">
		                                        <h4 class="panel-title">
		                                        	<span class="glyphicon glyphicon-minus" data-ng-if="category.expanded"></span>
		                                            <span class="glyphicon glyphicon-plus" data-ng-if="!category.expanded"></span>
		                                            <span>&nbsp; {{category.name}}</span>
		                                        </h4>
		                                    </div>
		
		                                    <div id="category{{$index}}" class="panel-collapse panel-cat-collapse collapse in" data-ng-if="category.expanded">
		                                        <div class="panel-body">
		                                         <!-- Form Fields -->
		                                         	<div class="row">
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}AgencyAbbreviation">Agency Abbreviation <span class="vnt-red-text">*</span></label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}AgencyAbbreviation" data-ng-model="category.agencyAbbreviation">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}Component">Component <span class="vnt-red-text">*</span></label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}Component" data-ng-model="category.component">
		                                                         </div>
		                                                     </div>
		                                                 </div>           
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}DataCenterName">Data Center Name <span class="vnt-red-text">*</span></label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}DataCenterName" data-ng-model="category.dataCenterName">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}DataCenterID">Data Center ID</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}DataCenterID" data-ng-model="category.dataCenterID" placeholder="DCOI-DC-#####">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                             </div>
		                                             
		                                             <div class="row">
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}AgencyDataCenterID">Agency Data Center ID</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}AgencyDataCenterID" data-ng-model="category.agencyDataCenterID">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}PublishedName">Published Name</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}PublishedName" data-ng-model="category.publishedName">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}StreetAddress">Street Address</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}StreetAddress" data-ng-model="category.streetAddress">
		                                                         </div>
		                                                     </div>
		                                                 </div>             
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}StreetAddress2">Street Address 2</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}StreetAddress2" data-ng-model="category.streetAddress2">
		                                                         </div>
		                                                     </div>
		                                                 </div> 
		                                             </div>
		                                             
		                                             <div class="row">
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}City">City</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}City" data-ng-model="category.city">
		                                                         </div>
		                                                     </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">		                                                     
		                                                     <div class="form-group">
												                <label for="category{{$index}}State">State</label>
												                <select id="category{{$index}}State" data-ng-model="category.state">
												                    <option value="">Select One</option>
												                    <option>AL</option>
												                    <option>AK</option>
												                    <option>AZ</option>
												                    <option>AR</option>
												                    <option>CA</option>
												                    <option>CO</option>
												                    <option>Etc.</option>
												                </select>
												            </div>
		                                                 </div>
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">
		                                                     <div class="form-group">
		                                                         <label for="category{{$index}}ZipCode">Zip Code</label>
		                                                         <div class="input-group">
		                                                             <input type="text" class="form-control" id="category{{$index}}ZipCode" data-ng-model="category.zipCode">
		                                                         </div>
		                                                     </div>
		                                                 </div>             
		                                                 <div class="col-md-3 col-sm-3 col-xs-12">		                                                     
		                                                     <div class="form-group">
												                <label for="category{{$index}}Country">Country</label>
												                <select id="category{{$index}}Country" data-ng-model="category.country">
												                    <option value="">Select One</option>
												                    <option>U.S.</option>
												                    <option>Outside U.S.</option>
												                </select>
												            </div>
		                                                 </div>
		                                             </div>
		                                        </div><!-- /.panel-body -->
		                                    </div>
		                                </div><!-- /.panel-category -->
		
		                            </div><!-- /.panel-group-->
	                            
	                            </div><!-- /.tab-pane -->

	                            <div id="fas-tab" class="tab-pane fade in active">
	
	                            </div>
	                            
                        	</div><!-- /.tab-content -->

                        </div><!-- /.panel-body -->
                    </div><!--/.panel-collapse -->
                </div><!-- /.panel-dc -->

            </div><!-- /.panel-group -->

        </div><!-- /.container-fluid -->
    </div><!-- /#page-content-wrapper -->

</div><!-- /#wrapper -->