<!-- PAGE HEADER -->
<div class="page-header">
    Admin Dashboard
</div>

<!-- MAIN CONTAINER -->
    <div class="container" style="padding-top: 140px;">

        <div class="row" data-ng-repeat="year in dc.dashboardData.years">

            <div class="col-md-1 col-sm-1 col-xs-1">
                <div class="vnt-bs-col--less-padding">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="vnt-calendar-chip-row-head">
                                {{::year}}
                            </div>
                        </div>
                    </div>
                </div><!-- /.vnt-bs-col--less-padding -->
            </div><!-- /.col-md-1 -->

            <div class="col-md-11 col-sm-11 col-xs-11">
                <div class="vnt-bs-col--less-padding">

                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12" 
                        		data-ng-repeat="quarter in dc.dashboardData.quarters | filter:{fiscalYear:year} | orderBy: 'fiscalQuarter'">
                            <div class="vnt-calendar-chip" 
                            		data-ng-if="quarter.quarterInProgressFlag || quarter.quarterActiveFlag || quarter.quarterCompleteFlag">

                                <div class="vnt-calendar-chip__niche"></div>

                                <h4 class="vnt-alt-heading-2">{{quarter.fiscalQuarter}} {{quarter.fiscalYear}}</h4>
                                <small class="text-muted">January 1 &ndash; March 31</small>
                                <p style="margin-bottom:0; margin-top:12px;">
                                    17 Data centers
                                </p>
                                <small style="margin-top:0; color:#cd2026;" data-ng-if="quarter.quarterInProgressFlag">
                                    In progress
                                </small>
                                <small style="margin-top:0; color:green;" data-ng-if="quarter.quarterActiveFlag">
                                    Active
                                </small>
                                <small style="margin-top:0;" class="vnt-primary-text-color" data-ng-if="quarter.quarterCompleteFlag">
                                    Complete
                                </small>
                            </div>
                            <div class="vnt-calendar-chip vnt-calendar-chip--creator" style="text-align:center;" 
                            		data-ng-click="dc.addNewQuarter()"
                            		data-ng-if="!(quarter.quarterInProgressFlag || quarter.quarterActiveFlag || quarter.quarterCompleteFlag)">

                                <div style="border-radius:50%; border-style:solid; border-width:2px; border-color:rgba(0,0,0,.25); 
                                		text-align:center; height:50px; width:50px; display:inline-block; margin-top: 12px;">
                                    <span class="glyphicon glyphicon-plus vnt-prominence-1" aria-hidden="true" style="top:13px;"></span>
                                </div>

                                <p style="margin-bottom:0; margin-top:12px; text-align:center;">
                                    Create new quarter
                                </p>

                            </div>
                        </div>

                    </div><!-- /.row -->

                </div><!-- /.vnt-bs-col--less-padding -->
            </div><!-- /.col-md-11 -->

        </div><!-- /.row -->

    </div><!-- /.container -->