<!-- CATEGORY : COST CALCULATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.costCalc=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.costCalc">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.costCalc"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.costCalc"></span>
            <span>&nbsp; Cost Calculation</span>
        </h4>
    </div>

    <div id="totalsCostCalc" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.costCalc">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Server Cost</strong>
                        <div>{{::dataCenter.totals.costCalc.serverCost | currency}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsCostCalcStorageCost">Storage Cost</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" id="totalsCostCalcStorageCost" 
                            		data-ng-model="dataCenter.totals.costCalc.storageCost" min="0" step="0.01">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="totalsCostCalcMiscellaneous">Miscellaneous</label>
                        <div class="input-group">
                        	<span class="input-group-addon">$</span>
                            <input type="number" class="form-control" id="totalsCostCalcMiscellaneous" 
                            		data-ng-model="dataCenter.totals.costCalc.miscellaneous" min="0" step="0.01">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total</strong>
                        <div>{{::dataCenter.totals.costCalc.total | currency}}</div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->
