<!-- CATEGORY : FACILITY INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span>&nbsp; Facility Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}FacilityInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Gross Floor Area</strong>
                        <div>{{::dataCenter.facilityInfo.grossFloorArea || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.grossFloorArea">Sq. Ft.</small></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Customer Floor Area</strong>
                        <div>{{::dataCenter.facilityInfo.totalCustomerFloorArea || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.totalCustomerFloorArea">Sq. Ft.</small></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Annual Cost per Sq. Ft.</strong>
                        <div>{{::(dataCenter.facilityInfo.annualCostPerSqFt | currency) || "None"}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Other Agencies Serviced</strong>
                        <div>{{::dataCenter.facilityInfo.otherAgenciesServiced || "None"}}</div>
                    </div>
                </div>

            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Avg. Electricity Usage</strong>
                        <div>{{::dataCenter.facilityInfo.avgElectricityUsage || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.avgElectricityUsage">kWh</small></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Avg. IT Electricity Usage</strong>
                        <div>{{::dataCenter.facilityInfo.avgITElectricityUsage || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.avgITElectricityUsage">kWh</small></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Power Capacity</strong>
                        <div>{{::dataCenter.facilityInfo.totalPowerCapacity || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.totalPowerCapacity">kW</small></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total IT Power Capacity</strong>
                        <div>{{::dataCenter.facilityInfo.totalITPowerCapacity || "None"}}
                        		<small data-ng-show="dataCenter.facilityInfo.totalITPowerCapacity">kW</small></div>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>FTE</strong>
                        <div>{{::dataCenter.facilityInfo.fte || "None"}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>FTE Cost</strong>
                        <div>{{::(dataCenter.facilityInfo.fteCost | currency) || "None"}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Rack Count</strong>
                        <div>{{::dataCenter.facilityInfo.rackCount || "None"}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Cost per kWh</strong>
                        <div>{{::(dataCenter.facilityInfo.costPerkWh | currency) || "None"}}</div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->