<!-- CATEGORY : FACILITY INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span>&nbsp; Facility Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}FacilityInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Gross Floor Area" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoGrossFloorArea"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.grossFloorArea"
							data-input-addon-back="Sq. Ft."
							data-error-message="qc.tempData.errorData.messages['grossFloorArea']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Customer Floor Area" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoTotalCustomerFloorArea"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.totalCustomerFloorArea"
							data-input-addon-back="Sq. Ft."
							data-error-message="qc.tempData.errorData.messages['totalCustomerFloorArea']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Annual Cost per Sq. Ft." 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoAnnualCostPerSqFt"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.annualCostPerSqFt"
							data-input-addon-front="$"
							data-error-message="qc.tempData.errorData.messages['annualCostPerSqFt']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Other Agencies Serviced" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoOtherAgenciesServiced"
							data-field-type="text"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.otherAgenciesServiced"
							data-error-message="qc.tempData.errorData.messages['otherAgenciesServiced']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Avg. Electricity Usage" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoAvgElectricityUsage"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.avgElectricityUsage"
							data-input-addon-back="kWh"
							data-error-message="qc.tempData.errorData.messages['avgElectricityUsage']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Avg. IT Electricity Usage" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoAvgITElectricityUsage"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.avgITElectricityUsage"
							data-input-addon-back="kWh"
							data-error-message="qc.tempData.errorData.messages['avgITElectricityUsage']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Power Capacity" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoTotalPowerCapacity"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.totalPowerCapacity"
							data-input-addon-back="kW"
							data-error-message="qc.tempData.errorData.messages['totalPowerCapacity']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total IT Power Capacity" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoTotalITPowerCapacity"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.totalITPowerCapacity"
							data-input-addon-back="kW"
							data-error-message="qc.tempData.errorData.messages['totalITPowerCapacity']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="FTE" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoFTE"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.fte"
							data-error-message="qc.tempData.errorData.messages['fte']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="FTE Cost" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoFTECost"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.fteCost"
							data-input-addon-front="$"
							data-error-message="qc.tempData.errorData.messages['fteCost']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Rack Count" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoRackCount"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.rackCount"
							data-error-message="qc.tempData.errorData.messages['rackCount']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Cost per kWh" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}FacilityInfoCostPerkWh"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="dataCenter.facilityInfo.costPerkWh"
							data-input-addon-front="$"
							data-error-message="qc.tempData.errorData.messages['costPerkWh']"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->