<!-- CATEGORY : FACILITY INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span>&nbsp; Facility Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}FacilityInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Gross Floor Area" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="grossFloorArea"
							data-new-quarter-value="dataCenter['facilityInfo']['grossFloorArea']"
							data-input-addon-back="Sq. Ft."
							data-error-message="qc.tempData.errorData.messages['grossFloorArea']"></div>
							<span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['grossFloorAreaRequired']}}</span>
					<span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['grossFloorAreaMustNotBeZero']}}</span>
					
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Customer Floor Area" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="totalCustomerFloorArea"
							data-new-quarter-value="dataCenter['facilityInfo']['totalCustomerFloorArea']"
							data-input-addon-back="Sq. Ft."
							data-error-message="qc.tempData.errorData.messages['totalCustomerFloorArea']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Annual Cost per Sq. Ft." 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="annualCostPerSqFt"
							data-new-quarter-value="dataCenter['facilityInfo']['annualCostPerSqFt']"
							data-input-addon-front="$"
							data-error-message="qc.tempData.errorData.messages['annualCostPerSqFt']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Other Agencies Serviced" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="otherAgenciesServiced"
							data-new-quarter-value="dataCenter['facilityInfo']['otherAgenciesServiced']"
							data-error-message="qc.tempData.errorData.messages['otherAgenciesServiced']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Avg. Electricity Usage" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="avgElectricityUsage"
							data-new-quarter-value="dataCenter['facilityInfo']['avgElectricityUsage']"
							data-input-addon-back="kW/hr"
							data-error-message="qc.tempData.errorData.messages['avgElectricityUsage']"></div>
               <span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['avgElectricityUsageRequired']}}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Avg. IT Electricity Usage" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="avgITElectricityUsage"
							data-new-quarter-value="dataCenter['facilityInfo']['avgITElectricityUsage']"
							data-input-addon-back="kW/hr"
							data-error-message="qc.tempData.errorData.messages['avgITElectricityUsage']"></div>
                <span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['avgITElectricityUsageRequired']}}</span>
					 <span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['avgItElectricityIncorrect']}}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Power Capacity" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="totalPowerCapacity"
							data-new-quarter-value="dataCenter['facilityInfo']['totalPowerCapacity']"
							data-input-addon-back="kW"
							data-error-message="qc.tempData.errorData.messages['totalPowerCapacity']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total IT Power Capacity" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="totalITPowerCapacity"
							data-new-quarter-value="dataCenter['facilityInfo']['totalITPowerCapacity']"
							data-input-addon-back="kW"
							data-error-message="qc.tempData.errorData.messages['totalITPowerCapacity']"></div>
							 <span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['totalItPowerCapacityIncorrect']}}</span>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="FTE" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="fte"
							data-new-quarter-value="dataCenter['facilityInfo']['fte']"
							data-error-message="qc.tempData.errorData.messages['fte']"></div>
							<span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['fteRequired']}}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="FTE Cost" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="fteCost"
							data-new-quarter-value="dataCenter['facilityInfo']['fteCost']"
							data-input-addon-front="$"
							data-error-message="qc.tempData.errorData.messages['fteCost']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Rack Count" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="rackCount"
							data-new-quarter-value="dataCenter['facilityInfo']['rackCount']"
							data-error-message="qc.tempData.errorData.messages['rackCount']"></div>
               <span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['rackCountRequired']}}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Cost per kWh" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="facilityInfo"
							data-field-prop-name="costPerkWh"
							data-new-quarter-value="dataCenter['facilityInfo']['costPerkWh']"
							data-input-addon-front="$"
							data-input-addon-back="/kWh"
							data-error-message="qc.tempData.errorData.messages['costPerkWh']"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->