<!-- CATEGORY : FACILITY INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo"></span>
            <span>&nbsp; Facility Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}FacilityInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].facilityInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Gross Floor Area" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.grossFloorArea}}"
							data-view-addon="Sq. Ft."></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Total Customer Floor Area" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.totalCustomerFloorArea}}"
							data-view-addon="Sq. Ft."></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Annual Cost per Sq. Ft." 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.annualCostPerSqFt | currency}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Other Agencies Serviced" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.otherAgenciesServiced}}"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Avg. Electricity Usage" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.avgElectricityUsage}}"
							data-view-addon="kWh"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Avg. IT Electricity Usage" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.avgITElectricityUsage}}"
							data-view-addon="kWh"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Total Power Capacity" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.totalPowerCapacity}}"
							data-view-addon="kW"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Total IT Power Capacity" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.totalITPowerCapacity}}"
							data-view-addon="kW"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="FTE" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.fte}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="FTE Cost" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.fteCost | currency}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Rack Count" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.rackCount}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Cost per kWh" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.facilityInfo.costPerkWh | currency}}"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->