<!-- CATEGORY : GENERAL INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span>&nbsp; General Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}GeneralInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Agency Abbreviation" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.agencyAbbreviation}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Component" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.component}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Data Center Name" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.dataCenterName}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Data Center ID" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.dcoiDataCenterId}}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Agency Data Center ID" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.agencyDataCenterId}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Published Name" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.publishedName}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Street Address" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.streetAddress}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Street Address 2" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.streetAddress2}}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="City" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.city}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="State" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.state}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Zip Code" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.zipCode}}"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Country" 
							data-past-quarter-value="{{null}}" 
							data-new-quarter-value="{{dataCenter.generalInfo.countryName}}"></div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->