<!-- CATEGORY : GENERAL INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo"></span>
            <span>&nbsp; General Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}GeneralInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].generalInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Agency Abbreviation" 
							data-field-required="true"
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="agencyAbbreviation"
							data-new-quarter-value="dataCenter['generalInfo']['agencyAbbreviation']"
							data-error-message="qc.tempData.errorData.messages['agencyAbbreviation']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Component" 
							data-field-required="true"
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="component"
							data-new-quarter-value="dataCenter['generalInfo']['component']"
							data-error-message="qc.tempData.errorData.messages['component']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Data Center Name" 
							data-field-required="true"
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="dataCenterName"
							data-new-quarter-value="dataCenter['generalInfo']['dataCenterName']"
							data-error-message="qc.tempData.errorData.messages['dataCenterName']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Data Center ID" 
							data-field-required="true"
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="dcoiDataCenterId"
							data-new-quarter-value="dataCenter['generalInfo']['dcoiDataCenterId']"
							data-placeholder-text="DCOI-DC-#####"
							data-error-message="qc.tempData.errorData.messages['dcoiDataCenterId']"></div>
				<span class="text-danger" 
				data-ng-if="qc.tempData.errorData">
					{{qc.tempData.errorData.messages['dataCenterIdRequired']}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Agency Data Center ID" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="agencyDataCenterId"
							data-new-quarter-value="dataCenter['generalInfo']['agencyDataCenterId']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Published Name" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="publishedName"
							data-new-quarter-value="dataCenter['generalInfo']['publishedName']"
							data-error-message="qc.tempData.errorData.messages['publishedName']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Street Address" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="streetAddress"
							data-new-quarter-value="dataCenter['generalInfo']['streetAddress']"
							data-error-message="qc.tempData.errorData.messages['streetAddress']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Street Address 2" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="streetAddress2"
							data-new-quarter-value="dataCenter['generalInfo']['streetAddress2']"
							data-error-message="qc.tempData.errorData.messages['streetAddress2']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="City" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="city"
							data-new-quarter-value="dataCenter['generalInfo']['city']"
							data-error-message="qc.tempData.errorData.messages['city']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-selectfield-edit 
							data-field-name="State" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="stateId"
							data-new-quarter-value="dataCenter['generalInfo']['stateId']"
							data-ref-value-list="qc.referenceValueLists.stateRefValueList"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Zip Code" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="zipCode"
							data-new-quarter-value="dataCenter['generalInfo']['zipCode']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-selectfield-edit 
							data-field-name="Country" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="generalInfo"
							data-field-prop-name="countryId"
							data-new-quarter-value="dataCenter['generalInfo']['countryId']"
							data-ref-value-list="qc.referenceValueLists.countryRefValueList"></div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->