<!-- CATEGORY : COST CALCULATION -->
<div class="panel panel-default panel-category">
	<div class="panel-heading" data-toggle="collapse"
		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.otherCalc=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.otherCalc">
		<h4 class="panel-title">
			<span class="glyphicon glyphicon-minus"
				data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.otherCalc"></span>
			<span class="glyphicon glyphicon-plus"
				data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.otherCalc"></span>
			<span>&nbsp; Other Calculations</span>
		</h4>
	</div>

	<div id="totalsOtherCalc"
		class="panel-collapse panel-cat-collapse collapse in"
		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.otherCalc">
		<div class="panel-body">
			<!-- Form Fields -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view data-field-name="Tier Classification"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="tierClassification"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['tierClassification']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
						data-field-name="Floor Area Classification"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="floorAreaClassification"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['floorAreaClassification']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view data-field-name="Watts Per Sq Ft"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="wattsPerSqFt"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['wattsSqFt']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
						data-field-name="Power Usage Effectiveness (PUE)"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc" data-field-prop-name="pue"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['pue']"></div>
				</div>

			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
						data-field-name="Total (Physical) Server Count"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="totalServerCount"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['physicalServerCount']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view data-field-name="Total OS Count"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="totalOSCount"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['osCount']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view data-field-name="Storage Utilization"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="storageUtilization"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['storageUtilization']"></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view data-field-name="Closing Target Date"
						data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
						data-data-center="dataCenter" data-totals-name="totals"
						data-section-prop-name="otherCalc"
						data-field-prop-name="closingTargetDate"
						data-new-quarter-value="dataCenter['totals']['otherCalc']['closingTargetDate']"></div>
				</div>

			</div>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<!-- /.panel-category -->