<!-- CATEGORY : SERVER INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].fieldOffices[$index].serverInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].fieldOffices[$index].serverInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].fieldOffices[$index].serverInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].fieldOffices[$index].serverInfo"></span>
            <span>&nbsp; Server Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].fieldOffices[$index].serverInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Server Utilization" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoServerUtilization"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.serverUtilization"
							data-input-addon-back="%"
							data-error-message="qc.tempData.errorData.messages['serverUtilization']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Mainframes" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalMainframes"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalMainframes"
							data-error-message="qc.tempData.errorData.messages['totalMainframes']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Windows Servers" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalWindowsServers"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalWindowsServers"
							data-error-message="qc.tempData.errorData.messages['totalWindowsServers']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total HPC Cluster Nodes" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalHPCClusterNotes"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalHPCClusterNodes"
							data-error-message="qc.tempData.errorData.messages['totalHPCClusterNodes']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Other Servers" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalOtherServers"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalOtherServers"
							data-error-message="qc.tempData.errorData.messages['totalOtherServers']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Virtual Hosts" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalVirtualHosts"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalVirtualHosts"
							data-error-message="qc.tempData.errorData.messages['totalVirtualHosts']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Virtual OS" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalVirtualOS"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalVirtualOS"
							data-error-message="qc.tempData.errorData.messages['totalVirtualOS']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Total Storage" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoTotalStorage"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.totalStorage"
							data-error-message="qc.tempData.errorData.messages['totalStorage']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-edit 
							data-field-name="Used Storage" 
							data-field-id="dataCenter{{dataCenter.dataCenterId}}{{fieldOffice.name}}ServerInfoUsedStorage"
							data-field-type="number"
							data-past-quarter-value="{{null}}" 
							data-new-quarter-model="fieldOffice.serverInfo.usedStorage"
							data-error-message="qc.tempData.errorData.messages['usedStorage']"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->