<!-- CATEGORY : STATUS -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status"></span>
            <span>&nbsp; Status</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}Status" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].status">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Record Status" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="recordStatusName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Record Validity" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="recordValidityName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Closing Stage" 
							data-field-name="Record Validity" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="closingStageName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Ownership Type" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="ownershipTypeName"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Data Center Tier" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="dataCenterTierName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Electricity is Metered" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="electricityIsMeteredName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Automated Monitoring" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="automatedMonitoringName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="ISS Position" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="issPositionName"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="ISS Provider" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="issProvider"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Closing Fiscal Year" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="closingFiscalYearName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Closing Quarter" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="closingQuarterName"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Electricity Included in Cost" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="electricityIncludedInCostName"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-field-view 
							data-field-name="Core Classification" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-section-prop-name="status"
							data-field-prop-name="coreClassificationName"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->