<!-- CATEGORY : SERVER INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span>&nbsp; Server Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}totalsServerInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Server Utilization" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="serverUtilization"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['serverUtilization']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view 
							data-field-name="Total Mainframes" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalMainframes"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalMainframes']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total Windows Servers" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalWindowsServers"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalWindowsServers']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total HPC Cluster Nodes" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalHPCClusterNodes"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalHPCClusterNodes']"></div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total Other Servers" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalOtherServers"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalOtherServers']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total Virtual Hosts" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalVirtualHosts"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalVirtualHosts']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total Virtual OS" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalVirtualOS"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalVirtualOS']"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Total Storage" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="totalVirtualOS"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['totalStorage']"></div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
					<div data-textfield-view
							data-field-name="Used Storage" 
							data-past-data-centers="qc.pastQuarterData.regions[qc.tempData.selected.regionIdx].dataCenters"
							data-data-center="dataCenter"
							data-totals-name="totals"
							data-section-prop-name="serverInfo"
							data-field-prop-name="usedStorage"
							data-new-quarter-value="dataCenter['totals']['serverInfo']['usedStorage']"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->
