<!-- CATEGORY : SERVER INFORMATION -->
<div class="panel panel-default panel-category">
    <div class="panel-heading" data-toggle="collapse" 
    		data-ng-click="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo=!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-minus" 
            		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span class="glyphicon glyphicon-plus" 
            		data-ng-if="!qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo"></span>
            <span>&nbsp; Server Info</span>
        </h4>
    </div>

    <div id="dataCenter{{dataCenter.dataCenterId}}totalsServerInfo" class="panel-collapse panel-cat-collapse collapse in" 
    		data-ng-if="qc.tempData.selected.expandCollapsePanels[dataCenter.dataCenterId].totals.serverInfo">
        <div class="panel-body">
            <!-- Form Fields -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Server Utilization</strong>
                        <span>{{::dataCenter.totals.serverInfo.serverUtilization || "None"}}
                        		<small data-ng-show="dataCenter.totals.serverInfo.serverUtilization">%</small></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Mainframes</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalMainframes || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Windows Servers</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalWindowsServers || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total HPC Cluster Nodes</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalHPCClusterNodes || "None"}}</span>
                    </div>
                </div>

            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Other Servers</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalOtherServers || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Virtual Hosts</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalVirtualHosts || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Virtual OS</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalVirtualOS || "None"}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Total Storage</strong>
                        <span>{{::dataCenter.totals.serverInfo.totalStorage || "None"}}</span>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <strong>Used Storage</strong>
                        <span>{{::dataCenter.totals.serverInfo.usedStorage || "None"}}</span>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.panel-body -->
    </div>
</div><!-- /.panel-category -->
