@charset "utf-8";
/* > VNT GLOBALS CSS: START
***********************************************************************************************************************/
	/**************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> NOTES: START
	***************************************************************************************************************/

	/* TOC:
	-	VNT GLOBALS CSS
	-		- NOTES
			- GENERAL GLOBALS
	-		- HELPERS
	*/

	/* NOTES: END
	***************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> GENERAL GLOBALS: START
	***************************************************************************************************************/
        
        html, body {
            background: #f1f1f1;
            background-color: #f1f1f1;
            font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        }

        /*
        # Mapping font families and weights to specific classes ( The fonts themselves are embedded via uswds.css ) */
        .vnt-source-sans-pro-light {
		    font-family:'Source Sans Pro';
		    font-weight: 300;
	    }
	    .vnt-source-sans-pro-regular {
		    font-family:'Source Sans Pro';
		    font-weight: 400;
	    }
	    .vnt-source-sans-pro-bold {
		    font-family:'Source Sans Pro';
		    font-weight: 700;
	    }
	    .vnt-source-sans-pro-italic {
		    font-family:'Source Sans Pro';
		    font-style: italic;
		    font-weight: 400;
	    }
        
        /* 
        # Copying/rewriting typography that is already written in the USWDS *//* 
        This needed to be done to override other stuff */

        h1, h2, h3, h4, h5, h6 {
            font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
            margin: 0;
        }
        
        .usa-font-lead, .lead {
            font-family:'Source Sans Pro' !important;
            font-weight: 300 !important;
            font-size: 22px !important;
            line-height: 110% !important;
        }
        
        /*
        # Heading Alternatives */
        /*      
        ## Blue and normal weight */
        h1.vnt-alt-heading-1,
        h2.vnt-alt-heading-1,
        h3.vnt-alt-heading-1,
        h4.vnt-alt-heading-1,
        h5.vnt-alt-heading-1,
        h6.vnt-alt-heading-1 {
        	font-weight: 400 !important;
        	color: #205493 !important;
        }
        /*      
        ## Default color and normal weight */
        h1.vnt-alt-heading-2,
        h2.vnt-alt-heading-2,
        h3.vnt-alt-heading-2,
        h4.vnt-alt-heading-2,
        h5.vnt-alt-heading-2,
        h6.vnt-alt-heading-2 {
        	font-weight: 400 !important;
        	color: inherit !important;
        }
        /*      
        ## Blue and bold weight */
        h1.vnt-alt-heading-3,
        h2.vnt-alt-heading-3,
        h3.vnt-alt-heading-3,
        h4.vnt-alt-heading-3,
        h5.vnt-alt-heading-3,
        h6.vnt-alt-heading-3 {
        	font-weight: 700 !important;
        	color: #205493 !important;
        }
        /*      
        ## Default color and bold weight */
        h1.vnt-alt-heading-4,
        h2.vnt-alt-heading-4,
        h3.vnt-alt-heading-4,
        h4.vnt-alt-heading-4,
        h5.vnt-alt-heading-4,
        h6.vnt-alt-heading-4 {
        	font-weight: 700 !important;
        	color: inherit !important;
        }
        
        /*      
        # Misc. */
        label {
		    font-weight: 400;
	    }

        input,
        input[type="text"], 
        textarea,
        select,
        .input-group {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
        }

        input[type=date] {
            display: inline-block;
            padding: 0 0 0 5px !important;
            height: 2.1em !important;
            margin: 0;
        }

        select {
            -webkit-appearance: menulist;
            background-image: none;
            cursor: pointer;
        }

    /* GENERAL GLOBALS: END
	***************************************************************************************************************/
    /*
	********
	********
	********
	*/
	/* >> LOGO FONT EMBEDDING: START
	***************************************************************************************************************/
	

                
	
    /* LOGO FONT EMBEDDING: END
	***************************************************************************************************************/
    /*
	********
	********
	********
	*/
	/* >> HELPERS: START
	***************************************************************************************************************/
        
        /* 
        # Misc. */
        .vnt-inverse-mode * {
        	color: #ffffff;
        }
        
        /*
        Hide unordered list bullet point */
        ul li::before {
        	display: none;
        }
        
        .inline {
            display: inline-block; 
            margin-right: 10px;
        }
                
        /* 
        # Sans-serif helper */
        .vnt-sans-style {
            font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
        }

        /*
        # Normal font weight */
        .vnt-normal-text-weight {
            font-weight: 400;
        }

        /* 
        # Padding */
        .vnt-fat-padding {
            padding: 30px;
        }
        .vnt-fatter-padding {
            padding: 45px;
        }
        .vnt-fattest-padding {
            padding: 68px;
        }

        /* 
        # Text Colors */
        .vnt-primary-text-color {
            color: #0071bc;
        }
        .vnt-darker-primary-text-color {
            color: #205493;
        }
        .vnt-darkest-primary-text-color {
            color: #112e51;
        }                                                                                                
        .vnt-light-gray-text {
            color: #aeb0b5 !important;
        }
        .vnt-dark-gray-text {
            color: #323a45 !important;
        }
        .vnt-red-text {
            color: #cd2026;
        }

        /* 
        # Background Colors */
        .vnt-primary-bg-color {
            background-color: #0071bc;
        }
        .vnt-darker-primary-bg-color {
            background-color: #205493;
        }
        .vnt-darkest-primary-bg-color {
            background-color: #112e51;
        }                             
        .vnt-lightest-gray-bg {
            background-color: #f1f1f1;
        }
        .vnt-dark-gray-bg {
            background-color: #323a45;
        }                      
        .vnt-white-bg {
            background-color: #ffffff;
        }
                                                       
        /* 
        # Visual prominence */
        .vnt-prominence-1 {
            opacity: .25;
        }
        .vnt-prominence-2 {
            opacity: .42;
        }
        .vnt-prominence-3 {
            opacity: .7;
        }
        .vnt-prominence-4 {
            opacity: 1;
        }       
        
    /* HELPERS: END
	***************************************************************************************************************/

	
/* VNT GLOBALS CSS: END
***********************************************************************************************************************/
